<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs');%>
<%- include('./partials/nav.ejs');%>

<body>
<div class="container">
 
  <% if(blogs.length) { %>
    <% blogs.forEach(blog=> {%>
     
      <div  class="card d-lg-inline-flex m-2 p-1" id="masonry-grid" style="max-width: 300px;">
      
        <div class="card-body">
          <h5 class="card-title"><%= blog.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= blog.snippet %></h6>
          <p class="card-text"><%= blog.body %></p>
         
          
        </div>
        <a class="toarticle" href="/blogs/<%= blog._id %>">To Article</a>
      </div>
     
     
      <% }); %>

        <% } %>
        </div>
</body>

</html>